In [2]:
import pandas as pd

In [4]:
s=pd.Series(["Ind", "Aus", "Nz", "us"])

In [5]:
s

0    Ind
1    Aus
2     Nz
3     us
dtype: object

In [6]:
type(s)

pandas.core.series.Series

In [7]:
len(s)

4

In [8]:
s.ndim

1

In [9]:
s.shape

(4,)

In [10]:
s=pd.Series(["Ind", "Aus", "Nz", "us"], index=["a", "b", "c", "d"]) # defining your own index

In [11]:
s

a    Ind
b    Aus
c     Nz
d     us
dtype: object

In [12]:
country=['Ind', "Aus", "Nz", "Us"]
cost=[10000, 20000, 30000, 40000]

In [15]:
sales=pd.Series(cost, index=country)
sales

Ind    10000
Aus    20000
Nz     30000
Us     40000
dtype: int64

In [16]:
pd.Series(sales)

Ind    10000
Aus    20000
Nz     30000
Us     40000
dtype: int64

In [18]:
pd.Series(sales, index=country)

Ind    10000
Aus    20000
Nz     30000
Us     40000
dtype: int64

In [20]:
data={"Ind":2000, 'Aus':5000, 'Nz':8000, 'Us':900}
pd.Series(data)

Ind    2000
Aus    5000
Nz     8000
Us      900
dtype: int64

In [21]:
# lets  take the example of spreadsheet 
# spredsheet is nothing it is the combination of rows and columns
#spreadsheet and DataFrame are same in terms of showinng and the storing date

In [23]:
EmployeeData={
    'id': [100, 102, 103, 104],
    'name':['Daniel', 'Butlar', 'Morgan'],
    'age':[34 32, 29],
    'city':['Goa', 'Agra', 'Delhi']
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2281440347.py, line 4)